use `uv` to manage environment

`source .venv/bin/activate` to setup the python environment

use `export CUDA_VISIBLE_DEVICES=0,1,2,3` to manage visible cuda devices

when creating your own test files, create them under `generated_test` subfolder, and create sub-sub-folder structure for the specific category of tests.

Do not change sequence length or model name in the config, only user can change them