use "uv" to manage environment

Do not install any packages, assume environment has already been setup

USE "source .venv/bin/activate" to setup the python environment

use "export CUDA_VISIBLE_DEVICES=2,3" to manage visible cuda devices

use "export HF_TOKEN=`cat ${HOME}/.keys/huggingface.api.key`" to set HF_TOKEN

Do not generate README file or other prephiral files, focus on generating the code itself.

When creating your own test files, create them under `generated_test` subfolder, and create sub-sub-folder structure for the specific category of tests.

Do not change sequence length or model name in the config, only user can change them

For new python file, `logger` in `logger.py`, and use the logger to print messages, instead of `print`

When generating the code, follow the DRY principle (Do not Repeat Yourself). At the same time, do not create too many small functions, avoid unneccessary one-liner functions when following DRY principles.  Use DRY principle only where it genuinely reduces significant duplication.  Keep simple logic in the main code flow, which will be easier to follow.  Use total line of code as a guardrail for simplicity of the code.