# uv pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu128

PyYAML
httpx
asyncio
asynchttp
requests
transformers
loguru
tiktoken
blobfile
duckdb
unsloth
openai
anthropic
google-generativeai
together
wandb
boto3
awscli
pydevd
fastapi
uvicorn

# uv pip install --no-build-isolation --pre -v -U git+https://github.com/facebookresearch/xformers.git@fde5a2fb46e3f83d73e2974a4d12caf526a4203e
