pydantic
torch>=2.0.0
triton
numpy
pandas
transformers
datasets
matplotlib
asyncio
aiohttp
openai-agents
mcp
mcp[cli]
mlflow
loguru
boto3
ninja
together
google-generativeai
anthropic
sglang[all]>=0.4.6.post5
bitsandbytes
vllm==0.8.4
peft
runpod
peft
accelerate
sentencepiece
protobuf
pyyaml
autoawq
unsloth